{% extends 'template.html' %}
{% load bootstrap4 %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6" align="center">
            <p class="text-primary" id="img-name">Image name: {{ img_name }}</p>
            <canvas id="mask-canvas"></canvas>
        </div>
        <div class="col-md-2" align="left">
            <p class="text-primary"> Brush size </p>
            <canvas id="tool_canvas"></canvas>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4 class="text-primary" id="display-brush-size">Brush size: 5</h4>
        </div>
        <div class="col-md-6">
            <input type="range" class="custom-range" id="brush-size" min="5" max="50" value="5">
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <input id="mask-result" name="mask-result" type="hidden" value="">
            <input name="image-name" type="hidden" value="{{ img_name }}">
            <input id="img-url" type="hidden" value="{{ img_url }}">
            
            <button type="button" class="btn btn-danger" id="btn-clear">Clear</button>
            <button type="submit" class="btn btn-success" id="btn-save">Save</button>
            <button type="button" onClick="location.reload()" class="btn btn-primary">Refresh</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</form>
<br />

<script>
    var offsetLeft = 0;
    var offsetTop = 0;
    var clickX = new Array();
    var clickY = new Array();
    var clickDrag = new Array();
    var clickSize = new Array();
    var paint;
    var context = null;
    var context_tool = null;
    var brush_size = 5;

    var canvas = document.getElementById('mask-canvas');
    var maskResult = document.getElementById('mask-result');
    var canvas_tool = document.getElementById('tool_canvas');
    var btnClear = document.getElementById("btn-clear");
    var slideBrushSize = document.getElementById("brush-size");
    var displayBrushSize = document.getElementById("display-brush-size");

    var imgName = document.getElementById("img-name");
    var img_name = imgName.innerHTML.split(" ")[2] + ".jpg";
    var img_url = document.getElementById("img-url").value;
    console.log("img_url")
    console.log(img_url)
    var background = new Image();
    background.src = img_url;
    console.log(img_url)
    console.log(background.src)

    background.onload = function () {
        init_canvas();
        init_canvas_tool();
    };

    function init_canvas() {
        slideBrushSize.setAttribute("value", brush_size);

        canvasWidth = 484;      //1936 / 4
        canvasHeight = 304;     //1216 / 4

        canvas.setAttribute('width', canvasWidth);
        canvas.setAttribute('height', canvasHeight);
        canvas.setAttribute('style', "border:3px solid #eeeeee;");
        // canvas.setAttribute('id', 'canvas');

        context = canvas.getContext("2d");

        var rect = context.canvas.getBoundingClientRect();
        offsetLeft = rect.left;
        offsetTop = rect.top;
        clear_line();
        console.log('init canvas')
    }

    function init_canvas_tool() {
        var canvasWidth = 50;      //1936 / 4
        var canvasHeight = 304;     //1216 / 4

        canvas_tool.setAttribute('width', canvasWidth);
        canvas_tool.setAttribute('height', canvasHeight);
        // canvas_tool.setAttribute('style', "border:1px solid #000000;");

        context_tool = canvas_tool.getContext("2d");
        var rect = context_tool.canvas.getBoundingClientRect();
        var offsetLeft = rect.left;
        var offsetTop = rect.top;
        console.log(offsetLeft)
        console.log(offsetTop)
        get_brush_size();
        clear_line();

    }

    $('#mask-canvas').mousedown(function (e) {
        var mouseX = e.clientX - offsetLeft;
        var mouseY = e.clientY - offsetTop;
        paint = true;
        addClick(mouseX, mouseY);
        redraw();
    });

    $('#mask-canvas').mousemove(function (e) {
        var mouseX = e.clientX - offsetLeft;
        var mouseY = e.clientY - offsetTop;
        if (paint) {
            addClick(mouseX, mouseY, true);
            redraw();
        }
    });

    $('#mask-canvas').mouseup(function (e) {
        paint = false;
    });

    $('#mask-canvas').mouseleave(function (e) {
        paint = false;
    });


    function addClick(x, y, dragging) {
        clickX.push(x);
        clickY.push(y);
        clickDrag.push(dragging);
        clickSize.push(brush_size);
    }

    function redraw() {
        context.strokeStyle = "yellow";
        context.lineJoin = "round";
        this.clear_line();

        for (var i = 0; i < clickX.length; i++) {
            context.beginPath();
            if (clickDrag[i] && i) {
                context.moveTo(clickX[i - 1], clickY[i - 1]);
            } else {
                context.moveTo(clickX[i] - 1, clickY[i]);
            }
            if (clickSize[i]) {
                context.lineWidth = clickSize[i];
            } else {
                context.lineWidth = brush_size;
            }
            context.lineTo(clickX[i], clickY[i]);
            context.closePath();
            context.stroke();
            // context.globalAlpha = 0.5;
        }
        update_result()
    }

    function update_result() {
        var data = canvas.toDataURL();
        console.log(data)
        maskResult.value = data;
    }

    btnClear.addEventListener("click", clear);
    slideBrushSize.addEventListener("change", get_brush_size);

    function clear_line() {
        context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
        context.drawImage(background, 0, 0);
    }

    function clear() {
        console.log('clear')
        context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
        context.drawImage(background, 0, 0);
        clickX = [];
        clickY = [];
        clickDrag = [];
        clickSize = [];
    }

    function get_brush_size() {
        brush_size = slideBrushSize.value;
        displayBrushSize.innerHTML = "Brush size: " + brush_size;
        var rect = context_tool.canvas.getBoundingClientRect();
        var offsetLeft = rect.left;
        var offsetTop = rect.top;
        console.log(offsetLeft)
        console.log(offsetTop)
        context_tool.fillStyle = 'yellow'
        context_tool.fillRect(0, 0, brush_size, brush_size);
    }

</script>
{% endblock %}