{% extends 'template.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.video }}
            <br>
            <table class="table">
                    <br>
                    {% for name in mission_name %}
                    <tr>
                        <thead>
                            Mission Name
                        </thead>
                    </tr>
                        <tr>
                            <td>
                                {{name}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
            <table class="table">
                <p>Specify the mission name</p>
                <br>
                {% for i in mission_n %}
                    <tr>
                        <td>
                            Mission {{i}}
                        </td>
                        <td>
                            <input type="text" name="textbox_mission_{{i}}" class="form-control-sm" >
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button type="submit" class="btn btn-primary btn-block">Upload</button>
            <br>
            <br>

        </form>
    </div>

    <div class="col-md-2"></div>
</div>

{% endblock %}